<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Student Reading Journal</strong> by Mark Jenquine
      <a href="https://www.linkedin.com/in/markjenquine/">
        <span class="icon is-large">
          <i class="fab fa-linkedin fa-lg"></i>
        </span>
      </a>
    </p>
  </div>
</footer>
