<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="https://media.giphy.com/media/kaBU6pgv0OsPHz2yxy/source.mp4" alt="">
  </body>
</html>
